/* Stylish */
html, body {
	background: white;
	background: #CCC;  /* debug */
	color: black;
	font-family: sans-serif;
}
input, output {
	font-size: 0.8em;
}

/* Input styles based on http://purecss.io/ */
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select,
textarea {
	padding: 0.5em 0.6em;
	border: 1px solid #CCC;
	box-shadow: inset 0 1px 3px #ddd;
	border-radius: 4px;
	box-sizing: border-box;
}
input[type="color"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="email"]:focus,
input[type="month"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
input[type="week"]:focus,
select:focus,
textarea:focus {
	border-color: #129FEA;
	outline: 0;
}
input[type="color"][disabled],
input[type="date"][disabled],
input[type="datetime"][disabled],
input[type="datetime-local"][disabled],
input[type="email"][disabled],
input[type="month"][disabled],
input[type="number"][disabled],
input[type="password"][disabled],
input[type="search"][disabled],
input[type="tel"][disabled],
input[type="text"][disabled],
input[type="time"][disabled],
input[type="url"][disabled],
input[type="week"][disabled],
select[disabled],
textarea[disabled] {
	background-color: #eaeded;
    color: #cad2d3;
}
input[readonly],
select[readonly],
textarea[readonly] {
    background: #eee; /* menu hover bg color */
    color: #777; /* menu text color */
    border-color: #ccc;
}
input:focus:invalid,
textarea:focus:invalid,
select:focus:invalid {
    color: #b94a48;
    border: 1px solid #ee5f5b;
}
input:focus:invalid:focus,
textarea:focus:invalid:focus,
select:focus:invalid:focus {
    border-color: #e9322d;
}


/* .fig-laje, parametric-based SVG graphics.
 */
.fig-laje {
	display: inline-block;
	background: yellow;
}
.fig-laje .double-top,
.fig-laje .double-right,
.fig-laje .double-bottom,
.fig-laje .double-left,
.fig-laje .top,
.fig-laje .right,
.fig-laje .bottom,
.fig-laje .left {
	stroke: black;
	stroke-width: 4;
	stroke-linecap: square;
}
.fig-laje-1  .double-top,
.fig-laje-3  .double-top,
.fig-laje-5  .double-top,
.fig-laje-7  .double-top,
.fig-laje-9  .double-top,
.fig-laje-10 .double-top,
.fig-laje-11 .double-top,
.fig-laje-12 .double-top,
.fig-laje-13 .double-top,
.fig-laje-14 .double-top,
.fig-laje-15 .double-top,
.fig-laje-17 .double-top,
.fig-laje-19 .double-top,
.fig-laje-20 .double-top,
.fig-laje-21 .double-top,
.fig-laje-22 .double-top {
	display: none;
}
.fig-laje-1  .double-right,
.fig-laje-2  .double-right,
.fig-laje-3  .double-right,
.fig-laje-4  .double-right,
.fig-laje-9  .double-right,
.fig-laje-10 .double-right,
.fig-laje-13 .double-right,
.fig-laje-14 .double-right,
.fig-laje-15 .double-right,
.fig-laje-16 .double-right,
.fig-laje-19 .double-right,
.fig-laje-20 .double-right {
	display: none;
}
.fig-laje-1  .double-bottom,
.fig-laje-2  .double-bottom,
.fig-laje-5  .double-bottom,
.fig-laje-6  .double-bottom,
.fig-laje-9  .double-bottom,
.fig-laje-11 .double-bottom,
.fig-laje-13 .double-bottom,
.fig-laje-19 .double-bottom,
.fig-laje-21 .double-bottom {
	display: none;
}
.fig-laje-1  .double-left,
.fig-laje-2  .double-left,
.fig-laje-3  .double-left,
.fig-laje-4  .double-left,
.fig-laje-9  .double-left,
.fig-laje-10 .double-left,
.fig-laje-13 .double-left,
.fig-laje-14 .double-left,
.fig-laje-16 .double-left,
.fig-laje-19 .double-left,
.fig-laje-20 .double-left {
	display: none;
}
.fig-laje-9  .top,
.fig-laje-10 .top,
.fig-laje-11 .top,
.fig-laje-12 .top,
.fig-laje-19 .top,
.fig-laje-20 .top,
.fig-laje-21 .top,
.fig-laje-22 .top {
	stroke-dasharray: 4, 4;
	stroke-dashoffset: 0;
	stroke-linecap: butt;
}
.fig-laje text {
	display: none;
	font-size: 12px;
	/* font-size without unit is valid in SVG. */
	font-size: 12;
}
.fig-laje .label-topcenter,
.fig-laje .label-bottomcenter {
	text-anchor: middle;
}
.fig-laje .label-topleft,
.fig-laje .label-bottomleft {
	text-anchor: end;
}
.fig-laje .label-topright,
.fig-laje .label-bottomright {
	text-anchor: start;
}
.fig-laje .label-topleft,
.fig-laje .label-topcenter,
.fig-laje .label-topright,
.fig-laje .label-topleft tspan,
.fig-laje .label-topcenter tspan,
.fig-laje .label-topright tspan {
	/* text-after-edge does not work correctly in Chrome 30:
	 * http://crbug.com/143990 */
	/*
	alignment-baseline: text-after-edge;
	dominant-baseline: text-after-edge;
	*/
}
.fig-laje .label-bottomleft,
.fig-laje .label-bottomcenter,
.fig-laje .label-bottomright,
.fig-laje .label-bottomleft tspan,
.fig-laje .label-bottomcenter tspan,
.fig-laje .label-bottomright tspan {
	dominant-baseline: text-before-edge;
	alignment-baseline: text-before-edge;
}
.fig-laje-1  .label-12corners,
.fig-laje-4  .label-12center,
.fig-laje-8  .label-12center,
.fig-laje-11  .label-1corners,
.fig-laje-12  .label-1corners,
.fig-laje-21  .label-1corners,
.fig-laje-22  .label-1corners,
.fig-laje-9  .label-r,
.fig-laje-10 .label-r,
.fig-laje-11 .label-r,
.fig-laje-12 .label-r,
.fig-laje-19 .label-r,
.fig-laje-20 .label-r,
.fig-laje-21 .label-r,
.fig-laje-22 .label-r {
	display: inline; /* Any value other than none will work. */
}


/*
.fig-laje {
	display: inline-block;
	position: relative;
	width: 5em;
	height: 5em;
}

.fig-laje .retangulo {
	background: white;
	position: absolute;
	top: 1.5em;
	right: 1.5em;
	bottom: 1.5em;
	left: 1.5em;
	box-sizing: border-box;
	border: 0.25em solid black;
}
.fig-laje > div[class|="label"] {
	display: none;
}

.fig-laje-1 .retangulo {
}
.fig-laje-2 .retangulo {
	border-top: 0.75em double black;
}
*/


/* .name-number-unit-list contains a list of variables like this:
 *   x = [ 0.001 ] m
 * Where...
 *   "x = " is the .prefix (a span).
 *   " m" is the .suffix (a span).
 *   "[ 0.001 ]" is the value (either input or output).
 * Each line containing a name-number-unit is one label element.
 */
.name-number-unit-list label {
	display: block;
}
.name-number-unit-list label .prefix,
.name-number-unit-list label input,
.name-number-unit-list label output,
.name-number-unit-list label .suffix {
	display: inline-block;
	vertical-align: baseline;
}
.name-number-unit-list label .prefix {
	text-align: right;
	width: 4em;
}
.name-number-unit-list label input,
.name-number-unit-list label output {
	text-align: right;
	width: 6em;
	margin: 0 1ex;
}
.name-number-unit-list label .suffix {
	text-align: left;
	width: 5em;
}

.name-number-unit-list label output {
	/* <output> styles to match <input> ones. */
	padding: 0.5em 0.6em;
	border-radius: 4px;
	box-sizing: border-box;
}

/* For debugging. */
.name-number-unit-list label .prefix { background: #FFD; }
.name-number-unit-list label input   { background: #FDD; }
.name-number-unit-list label output  { background: #DDF; }
.name-number-unit-list label .suffix { background: #DFF; }
